// Alignment
.u-text-center { text-align: center !important; }
.u-text-right { text-align: right !important; }
.u-text-left { text-align: left !important; }

// Weights
.u-weight-400 { font-weight: 400 !important; } // Regular
.u-weight-500 { font-weight: 500 !important; } // Medium
.u-weight-700 { font-weight: 700 !important; } // Bold