// Modern CSS Reset & Box-Sizing
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Remove list styles on nav lists
ul[role='list'], ol[role='list'] {
  list-style: none;
}